/* -------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------- */

.main-header {
    display: flex;
    flex-direction: column-reverse;

    @media (max-width: 768px) {
        & { /* .main-header */
            flex-direction: column-reverse;
        }
    }
}

#menu {
    display: none;

    &:checked + .nav-bar {
        display: block;
    }

    &:checked ~ .search-bar .menu-toogle .menu-toogle__label {
        background-color: yellow;
    }

}


/* -------------------------------------------------------- */
/* NAVBAR */
/* -------------------------------------------------------- */

.nav-bar {
    background-color: white;

    &__nav-list { /* .nav-bar__nav-list */
        border-top: 1px solid rgb(53, 52, 52);
        border-bottom: 1px solid rgb(53, 52, 52);
        display: flex;
        list-style-type: none;
        justify-content: space-around;

        @media (max-width: 768px) {
            & {
                flex-direction: column;
            }
        }

    }

    &__nav-item {
        text-align: center;
        background-color: pink;
    }

    &__nav-link {
        display: inline-block;
        background-color: white;
        color: rgb(53, 52, 52);
        padding: 1rem 2rem;
        text-decoration: none;

        &:hover {
            color: red;
        }
    }


    @media (max-width: 768px) {
        & { /* .nav-bar */
            display: none;
        }
    }

}

/* -------------------------------------------------------- */
/* SEARCH BAR */
/* -------------------------------------------------------- */

.search-bar {
    background-color: rgba(235, 163, 54, 0.774);
    display: flex; 
    justify-content: space-around;

    &__logo-container { /* .search-bar__logo-container */
        width: 18.75rem;
        height: 3.75rem;
    }

    &__form-container {
       padding: 1rem;

       background-color: white;
       display: flex;
       flex-basis: 70%;
       justify-content: center;
    }

    &__form-label {
        /* background-color: white; */
    }

    &__form-search {
        background-color: deeppink;
        width: 50%;
    }

    &__form-submit {
        background-color: darkslategray;
        color: white;
    }
    
    &__carrito-container {
        flex: 0 0 3rem; /* shorthand (grow shrihk basis */
        background-color: goldenrod;
    }
}


/* -------------------------------------------------------- */
/* MENÚ TOOGLE */
/* -------------------------------------------------------- */

.menu-toogle {
    display: none;
    background-color: red;
    flex: 0 0 3rem;
    position: relative;
    cursor: pointer;

    &__label {
        display: block;
        background-color: black;
        height: 100%;
    }

    &__top-bread,
    &__meat,
    &__bottom-bread {
        display: block;
        background-color: #333;
        height: .2rem;
        position: absolute;
        left: .5rem;
        right: .5rem;
    }

    &__top-bread {
        top: .8rem;
    }

    &__meat {
        top: 50%;
        margin-top: -.1rem;
    }
    &__bottom-bread {
        bottom: .8rem;
    }

    @media (max-width: 768px) {
        & { /* .menu-toogle */
            display: block;
        }
    }
}
