.section-cards {
    background-color: orange;

    &__header-h1{
        text-align: center;  
        font-size: 2rem ;  
    }
    &__header-h2{
        text-align: center;    
    }

    &__header-p {
        text-align: center;  
        font-size: 1.5rem; 
        padding-bottom: 1rem;
    }


}